{% comment %}
  Analytics is opt-in. To enable it, add your own GA4 measurement ID to
  _config.yml:

    google_analytics: G-XXXXXXXXXX

  Until then nothing is loaded and no data is sent anywhere.
{% endcomment %}
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
