---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Reliable Interactive Autonomy (RIA) Lab</h1>
        <p class="lab-affiliation">
          <a href="{{ site.department.url }}">{{ site.department.name }}</a> &middot;
          <a href="{{ site.school.url }}">{{ site.school.name }}</a><br />
          <a href="{{ site.institution.url }}">{{ site.institution.name }}</a>
        </p>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
